<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happilywedding"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.happilywedding.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="A1_RegistrationPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="A2NewListview_toogle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="A2NewListview_tooglepink"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.happilywedding.ThirdPage_list_checkbox"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.happilywedding.ThirdPage_list_checkbox_pink"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="LastPage_map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="LastPage_map_pink"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Emaill"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>